<div class="landing-page">
    <div class="content">
    <div class="header">
      <h1>Welcome to Artify</h1>
      <p>Your ultimate destination for artistic expression</p>
    </div>
  
    <div class="options">
      <button routerLink="/login">Login</button>
      <button routerLink="/register">Signup</button>
    </div>
  
    <div class="slides">
      <!-- Slides content goes here -->
      <div class="slide">
        <h2>NFTs for Artists</h2>
        <p>Discover a wide array of artistic creations & make purchases.</p>
        <button routerLink="/explore">Explore</button>
      </div>   
      <div class="slide">
        <h2>Transform Your Images</h2>
        <p>Apply stunning artistic styles to your photos with just a few clicks.</p>
        <button routerLink="/explore">Explore</button>
      </div>
      <div class="slide">
        <h2>Join Our Community</h2>
        <p>Connect with fellow artists, share your work, and be inspired.</p>
        <button routerLink="/explore">Explore</button>
      </div>
    </div>
  </div>
</div>
  